/* 全局样式表 */
html, body, #app {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
}

.el-card {
  margin-top: 20px;
  box-shadow: 0 0 1px #666 0.15 !important;
}

.el-table {
  margin-top: 20px;
}

.el-pagination {
  margin-top: 20px;
}